#sidebar {
    background-color: var(--bg-2);
    border-radius: 1.25rem 0 1.25rem 1.25rem;
    padding: 0.5rem;
}

.sidebar-button-bar {
    display: flex;
    justify-content: center;
    height: 2.25rem;
    gap: 1rem;
    padding-bottom: 0.25rem;
}

.filter-wrapper {
    position: relative;
    color: var(--icon-1);
}

.filter-wrapper:hover {
    color: var(--hl-2);
}

.filter-wrapper:active {
    color: var(--hl-1);
}

.sidebar-button-bar .filter-wrapper,
.sidebar-button-bar button {
    width: 2rem;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
    cursor: grab;
    background-color: var(--bg-1);
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sort-method-select {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: grab;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.create-icon {
    width: 75%;
    height: 75%;
    color: var(--icon-1);
}

/*moved color to filter wrapper so it works*/
.filter-icon {
    width: 75%;
    height: 75%;
}

.delete-icon {
    width: 75%;
    height: 75%;
    color: var(--icon-1);
}

.sidebar-button-bar svg:hover {
    color: var(--hl-2);
}

.sidebar-button-bar svg:active {
    color: var(--hl-1);
}
